{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ .Title }}</title>
    </head>
    <body>
        <form method="post" action="/">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title"><br>
            <label for="text">Text:</label>
            <textarea name="text" id="text"></textarea><br>
            <input type="submit" value="create a new post">
        </form>
        {{ template "content" . }}

        {{ template "scripts" . }}
    </body>
</html>
{{ end }}

{{ define "scripts" }}{{ end }}